.album-nav-dropdown {
    align-items: flex-start;
    font-size: 15px;
    z-index: 2;
    width: 150px;
    height: auto;
    padding: 3px;
    background-color: #282828;
    position: fixed;
    color: white;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
    left: 440px;
    top: 365px;
}

.album-nav-submenu {
    left: calc(440px + 160px);
    top: 404px;
    max-height: 250px;
    overflow-y: scroll;
    width: 250px;
}